<h1>Mentors#index</h1>
<p>Find me in app/views/mentors/index.html.erb</p>

<h1>Mentor#index</h1>
<p>Find me in app/views/mentor/index.html.erb</p>


<% @mentors.each do |mentor| %>
  <%= mentor.name %>
<% end %>
